<template>
    <div class="container mb-3">
        <div class="d-flex mb-3">
            <div class="mr-auto">
                <h3>Search Results for "{{ reformattedSearchString }}"</h3>
            </div>
        </div>

        <div class="card-columns" v-if="items.length">
            <div class="card" v-bind:key="item.id" v-for="item in items">
                <p>{{ item.name}}</p>
                <p>{{ item.phone}}</p>
                <p>{{ item.city}}, {{ item.zip}}, {{ item.canton}}</p>
                <p><img :src="item.img_url"/></p>

            </div>
        </div>

        <div class="alert-info" v-show="emptyResult">
            <span>No sales reps found!</span>
        </div>

        <div class="alert-info" v-show="!reformattedSearchString">
            <span>Type to search</span>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'SearchResults',
        components: {},
        data() {
            return {
                title: 'Search Results',
            };
        },
        computed: {
            emptyResult() {
                return this.items.length === 0 && this.reformattedSearchString
            }
        },
        methods: {},
        props: ['items', 'reformattedSearchString']
    };
</script>

<style scoped>
    button:focus {
        box-shadow: none !important;
    }
</style>
