<template>
    <div id="app">
        <SearchForm v-on:search="search"/>
        <SearchResults
                v-bind:items="items"
                v-bind:reformattedSearchString="reformattedSearchString"
        />
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueJsonp from 'vue-jsonp'
    import BootstrapVue from 'bootstrap-vue'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {faSearch} from '@fortawesome/free-solid-svg-icons'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    import SearchForm from './components/SearchForm';
    import SearchResults from './components/SearchResults';

    Vue.use(BootstrapVue);
    // global timeout
    Vue.use(VueJsonp, 5000);

    // font awesome icons
    library.add(faSearch)
    Vue.component('font-awesome-icon', FontAwesomeIcon)

    export default {
        name: 'app',
        components: {
            SearchForm,
            SearchResults
        },
        data() {
            return {
                items: [],
                last_search_call: null,
                reformattedSearchString: '',
                api: {
                    baseUrl: 'https://docs.google.com/spreadsheets/d/',
                    sheet_key: "19YCYRQuuXWaQYVr-lMAeufIPFkp7lH24xwdL_Htbbu8",
                    gid: '0',
                    headers: '1'
                }
            }
        },
        methods: {
            search(search_term) {
                let normalized_search_string = search_term.toLowerCase()
                this.reformattedSearchString = normalized_search_string
                console.log(normalized_search_string)
                if (search_term) {

                    let random_id = Math.random().toString(36).substring(2)
                    let random_callback_handler = `callback_func_${random_id}`;
                    let sql_query = `select A,B,C,D,E,F where A matches '${normalized_search_string}.*' or LOWER(B) contains '${normalized_search_string}'`
                    let request_url = `${this.api.baseUrl}${this.api.sheet_key}/gviz/tq?gid=${this.api.gid}&tqx=responseHandler:${random_callback_handler}&headers=${this.api.headers}&tq=${sql_query}`;

                    // we overwrite the previous id
                    this.last_search_call = random_id
                    Vue.jsonp(request_url, {
                        name: 'SpreadsheetQuery',
                        age: 20,
                        callbackQuery: 'not-important',
                        // the name of the function that is called from the answer
                        callbackName: random_callback_handler
                    }).then(data => {
                        // console.log(data.table.rows);
                        // if last_search_call is not this random_id we ignore the results as there is already another call pending
                        if (this.last_search_call === random_id) {
                            let result = []
                            if (data.table.rows.length) {
                                let first_row = data.table.rows[0]
                                result = [
                                    {
                                        'id': 0,
                                        'zip': first_row.c[0].v,
                                        'city': first_row.c[1].v,
                                        'canton': first_row.c[2].v,
                                        'name': first_row.c[3].v,
                                        'phone': first_row.c[4].v,
                                        'img_url': first_row.c[5].v
                                    }
                                ]
                            }
                            this.items = result
                        } else {
                            console.log('call cancelled!')
                        }

                    }).catch(err => {
                        console.log(err);
                    });
                } else {
                    this.items = []
                }
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
